@page
@using Microsoft.AspNetCore.Identity;
@using Web.Models;
@using Web.Services;
@model Web.Pages.GroceryList.GroceriesModel;
@inject UserManager<User> _userManager
@inject IGroceryFoodService _groceryFoodService
@inject CategoryService _categoryService
@{
    var user = await _userManager.GetUserAsync(User);
    var foods = (await _groceryFoodService.RetrieveFoodByHousehold(user.HouseholdId ?? 0)).Value;
}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                <span></span> Shop <span></span> Fillter
            </div>
        </div>
    </div>
    <div class="container mb-30 mt-50">
        <div class="row">
            <div class="col-xl-10 col-lg-12 m-auto">
                <div class="mb-50">
                    <a class="btn btn-primary" href="/grocerylist/add" style="position:relative;left: 1100px; top: 80px">Add items</a>
                    <h1 class="heading-2 mb-10">Grocery List</h1>
                    <h6 class="text-body">There are <span class="text-brand">@foods.Count</span> products in this list</h6>
                </div>
                <div class="table-responsive shopping-summery">
                    <table class="table table-wishlist">
                        <thead>
                            <tr class="main-heading">
                                <th class="custome-checkbox start pl-30">
                                    <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox11" value="" />
                                    <label class="form-check-label" for="exampleCheckbox11"></label>
                                </th>

                                <th scope="col"  style="margin-left:80px;"colspan="2">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Category</th>
                                <th scope="col">Transfer to inventory</th>
                                <th scope="col" class="end">Remove</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var food in foods)
                            {
                                <tr class="pt-30">
                                    <td class="custome-checkbox pl-30">
                                        <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="" />
                                        <label class="form-check-label" for="exampleCheckbox1"></label>
                                    </td>
                                    <td class="image product-thumbnail pt-40"><img src="@food.ImageFilePath" alt="#" /></td>
                                    <td class="product-des product-name">
                                        <h6><a class="product-name mb-10" style="position: relative; right: 40px;" href="shop-product-right.html">@food.Name</a></h6>
                             
                                    </td>
                                    <td style="position: relative; right: 40px;"style="margin-right: 100px;"class="text-center detail-info" data-title="Stock">
                                        <div class="detail-extralink mr-15">
                                            <div class="detail-qty border radius">
                                                <a href="#" onclick="down('@(food.Id)')" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>

                                                <span class="qty-val" id='@("value" + food.Id)'>@food.Quantity</span>
                                                <input type="hidden" value="@food.Quantity" id='@("GroceryListUiState_Quantity" + food.Id)'/>
                                                <a href="#" class="qty-up" onclick="up('@(food.Id)')"><i class="fi-rs-angle-small-up"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="position: relative; right: 40px;" class="text-center detail-info" data-title="Stock">
                                        <span class="stock-status in-stock mb-0"> @((await _categoryService.RetrieveCategory(food.CategoryId ?? 0))?.Name)</span>
                                    </td>
                                    <td class="text-right" style="position: relative; left: 40px;" data-title="Cart">
                                        <button class="btn btn-sm">Transfer</button>
                                    </td>
                                    <td class="action text-center" style="position: relative; right: 40px;" data-title="Remove">
                                        
                                        <form method="POST">
                                            <input type="hidden" asp-for="GroceryListUiState.DeleteId" value="@(food.Id)"/>
                                            <button style="background:none; color: inherit; border: none; padding: 0; font:inherit; cursor: pointer; outline: inherit" type="submit" asp-page-handler="Delete" href="#" class="text-body"><i class="fi-rs-trash"></i></button>
                                        </form>
                                     
                                    </td>
                                </tr>
                            }
                  
                
             
                      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


        <script>
    function up(id) {
        document.getElementById("GroceryListUiState_Quantity" + id).value =  parseInt(document.getElementById("GroceryListUiState_Quantity" + id).value) + 1
        document.getElementById("value" + id).textContent = document.getElementById("GroceryListUiState_Quantity" + id).value

            fetch('/api/grocerylist/' + id, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    value: 1
                })
            })
                .then(res => {
                    return res.json()
                })
                .then(data => console.log(data))
    }

    function down(id) {
        document.getElementById("GroceryListUiState_Quantity" + id).value = Math.max(1, document.getElementById("GroceryListUiState_Quantity" + id   ).value - 1)
        document.getElementById("value" + id).textContent = document.getElementById("GroceryListUiState_Quantity" + id).value
          fetch('/api/grocerylist/' + id, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    value: -1
                })
            })
                .then(res => {
                    return res.json()
                })
                .then(data => console.log(data))
    }
</script>
 
</main>