@page
@model EditDonationInfoModel
@using Web.Models

<main class="main">
    <div class="page-header mt-30 mb-50">
        <div class="container">
            <div class="archive-header">
                <div class="row align-items-center">
                    <div class="col-xl-8">
                        <h1 class="mb-15">Edit My Donation Information</h1>
                        <div class="breadcrumb">
                            <a href="/Index" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                            <span></span> Food Sharing <span></span> My Donation Info
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-30">
        <form class="mt-3" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="CustomFoodId" value="@Model.CustomFoodId">
            <input type="hidden" asp-for="DonationId" value="@Model.DonationId">
            <div class="row">
                <div class="col-md-8">
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="Name"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="Category"></label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.Category, new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Fresh produce", Value = "Fresh produce", Selected = true },
                                new SelectListItem {Text = "Canned food", Value = "Canned food" },
                                new SelectListItem {Text = "Snacks", Value = "Snacks" },
                                new SelectListItem {Text = "Beverages", Value = "Beverages" },
                                new SelectListItem {Text = "Meats", Value = "Meats" },
                            }, "-- Select --", new { @class = "form-select" })

                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="Description"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="Description" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="ExpiryDate"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="ExpiryDate" type="date" id="ExpiryDate" />
                            <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-2 col-form-label" asp-for="Status"></label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                            {
                                new SelectListItem {Text = "ACTIVE", Value = DonationStatus.ACTIVE.ToString() },
                                new SelectListItem {Text = "RESERVED", Value = DonationStatus.RESERVED.ToString() },
                                new SelectListItem {Text = "COMPLETED", Value = DonationStatus.COMPLETED.ToString() },
                                new SelectListItem {Text = "CANCELLED", Value =  DonationStatus.CANCELLED.ToString()},
                            }, "-- Select --", new { @class = "form-select" })

                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        <input type="file" accept="image/*" asp-for="Upload" class="form-control" onchange="showImgPreview(this)" />
                        <span asp-validation-for="Upload" class="text-danger"></span>
                    </div>
                    <img id="imgPreview" style="height:300px;width:300px;object-fit:cover"
                         src="@(string.IsNullOrEmpty(Model.Image) ? "/uploads/user.png" : Model.Image)"
                         onerror="this.src='/uploads/user.png'" />
                    <input class="form-control d-none" asp-for="Image" />
                </div>
            </div>

            <div class="form-group mb-30">
                <button type="submit" value="Update" class="btn btn-fill-out btn-block hover-up font-weight-bold">Edit</button>
                <a class="btn btn-secondary ms-2" href="/FoodSharing/MyDonations">Cancel</a>
            </div>
        </form>
    </div>
</main>

<script>
    function showImgPreview(input) {
        if (input.files[0]) {
            var uploadimg = new FileReader();
            uploadimg.onload = function (displayimg) {
                $("#imgPreview").attr('src', displayimg.target.result);
            }
            uploadimg.readAsDataURL(input.files[0]);
        }
    }
</script>

@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}

<script>
    document.getElementById("ExpiryDate").min = new Date().toISOString().split("T")[0];
</script>